
@import './colors.scss';
@import './fonts.scss';


.section3team{
    // width: 320px;
    padding: 1rem 1rem 0 1rem;
    margin: 0 auto;
}

.h2_our_team_section3{
    margin: 0 0 0 0 ;
    text-transform: uppercase;
    font-family: 'Texturina', serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: $darkBlue_text;

}

.line_befote_title{
    background-color: $gray_text;
    width: 60px;
    height: 1pt;
    content: '';
    display: block;
    margin-top: 11px;
}


.line_after_title{
    background-color: $gray_text;
    width: 60px;
    height: 1pt;
    content: '';
    display: block;
    margin-top: 11px;
}

.wrapper_title_ourteam{
    display: flex;
    justify-content: space-between;
    margin: 21px auto;
    text-align: center;
    width: 300px;
}


.h3_under_h2p_text{
    color: $gray_text;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 38px auto;
    line-height: 1.5;
    margin-bottom: 38px;
    text-align: center
}






.people_cardsection3 {
    display: block;
    width: 270px;
    margin: 0 auto;
    margin-bottom: 85px;
}

.card_people_shadow {
    position: relative;
    
}

.photo_people {
    width:270px;
    height: 300px;

}





.about_people_section3{
    position: absolute;
    color: $white_text;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;  
    line-height: 1.5;
    display: none;
    margin: 0 0 0 0;
    padding: 20px 15px 0 15px;
 
    
}

.gradiend {
    width: 270px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
   transition: 200ms linear;
   background: linear-gradient(rgb(129, 192, 243), rgb(184, 96, 243));  
   opacity: 0;
}

.card_people_shadow:hover > .gradiend {
    // background: linear-gradient(rgb(129, 192, 243), rgb(184, 96, 243));  
    transition: 200ms linear;
    opacity: 0.9;
}


.gradiend:hover .about_people_section3{
    display: block;
    
}

.social_program {
    display: none;
    font-size: 0;
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 270px;
}


.card_people_shadow:hover .social_program {
    display: block;
    
}

.social_link {
    
    background-color: $purple;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    transition: 0.4s linear;
}

 .social_link:last-child {
    margin-right: 0;
} 

.social_link:hover {
    background-color: $violet;
}



.name_people_section3{
    font-size: 18px;
     color: $black_text;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 14px;
}

.text_under_name_people{
    color: $gray_text;
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}









///////////////////////// tablet ////////////////////////




@media screen and (min-width: 768px){


    .section3team {
        // width: 60vw;
        padding: 0 2rem 0 2rem;
        margin: 105px auto;
        text-align: center;   
        
     }

     .h2_our_team_section3{
        font-weight: 600;
        font-size: 28px;
     }  
    
     .wrapper_title_ourteam{
        width: 378px;
        margin: 0 auto;
    }

    .h3_wrapper_h2p_text_section3{
        display: flex;
        
    }

    .h3_under_h2p_text{
        width: 556px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        margin-top: 58px;
        margin-bottom: 58px;
    }
    
    .line_befote_title{  
        margin-top: 18px;
    }
    
    
    .line_after_title{
        margin-top: 18px;
    }
    
    .people_cardsection3{
        margin: 0 auto;
        text-align: center;
        width: 600px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 103px;
        position: relative;
        
    }


    .social_program {
        left: 50%;
    }


    .card_in_top_with_one_people{
        position: absolute;
        left: 27%;

    }
}




///////////////////////// desktop ////////////////////////





@media screen and (min-width: 1200px) {

    .section3team {
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    
    
    .wrapper_title_ourteam{
        margin-top: 94px;
        margin-bottom: 68px;
    }
    

    .h2_our_team_section3{
        font-size: 28px;
        letter-spacing: -1px;
        font-weight: 700;
        text-align: center;
    
    }


    .h3_under_h2p_text{
        width: 800px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 104px;
    }


    .people_cardsection3 {
        width: 1000px;
    }

    
    .wrapper_div_with_two_people{
        display: flex;
        justify-content: space-between;
        width: 818px;
        margin: 0 auto;
    }

    .card_in_top_with_one_people{
        position: absolute;
        left: 64%;

    }
    
}