@import './colors.scss';






.section2_wrapper{
text-align: center;
justify-content: center;
background-color: $cyan_text;


@media screen and  ( min-width: 1200px) {
    display: flex;
}

}


.section2_wrapper_title {
font-size: 20px;
color: $black_text;
font-weight: 700;
font-family: 'Texturina', serif;
margin-bottom: 25px;
padding-top: 60px;


@media screen and (min-width: 768px)  {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Texturina', serif;
}


}

.section2_wrapper_text{
font-size: 14px;
width: 207px;
color: $white_text;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
text-align: center;
margin: 0 auto 41px ;

@media screen and (min-width: 768px) {
    font-size: 16px;
        width: 552px;
}

@media screen and ( min-width: 1200px)  {
    width: 540px;
}

}


.section2_wrapper_icons{
    display: flex;
    width: 155px;
    justify-content: space-between;
    margin: 0 auto 37px ;

@media screen and (min-width: 768px) {
    margin: 0 auto 57px;
}

@media screen and (min-width: 1200px) {
    justify-content: space-between;
    margin: 0 0 57px 0;
    align-items: flex-end;
    display: flex;
}

}
.section2_wrapper_icons_wrapper_apple{
    border-radius: 50%;
    background-color: $whiteBlue_text;



}
.section2_wrapper_icons_wrapper_apple:hover {
    background-color: $black_text;
    background-repeat: no-repeat;
}
.section2_wrapper_icons_applew{
    justify-content: center;
}
.section2_wrapper_icons_apple {
     padding: 18px 20px;
     
}


.section2_wrapper_icons_wrapper_robot{
    background-color: $whiteBlue_text;
    border-radius: 50%;
   
}
.section2_wrapper_icons_wrapper_robot:hover{
  background-color: $green-text;
}

.section2_wrapper_icons_robot {
   padding:17px 20px ;
  
}
.section2_wrapper_icons_robot:hover {
   
   
 }
 


.section2_wrapper_video {
    padding:0  1px ;
    border-radius: 8px;
    margin-bottom: 60px;
    width: 285px;

@media screen and (min-width: 768px)  {
        margin-bottom: 107px;
     width: 500px;
}

@media screen and ( min-width: 1200px) {
    width: 600px;
    margin: 120px auto 120px;  
}

}




@media ( min-width: 1200px) {
    
        .section2_wrapper_icons2 {
          margin: 70px auto 90px 50px;
          justify-content: left;
          text-align-last: left;
        
        }
        
       
        
       
       


}